* {
	box-sizing: border-box;
}

.login-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	background-color: #f0f0f0;
	/* background-color: linear-gradient(#f8fcf8, white); */
}

.header {
	font-size: 37px;
	font-family: 'Bebas Neue';
	color: #4a364b;
	font-weight: bolder;
	margin-top: 55px;
	margin-bottom: 100px;
}

.footer {
	color: gray;
	font-size: 14px;
	font-family: 'monospace';
	margin-top: 120px;
}
