 * {
    box-sizing: border-box;
  }

  /* NavBar.js */ 

.wrapper {
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: '30px';
    margin: 9px 12px;
    border-radius: 15px;
}

.title {
    color: rebeccapurple;
	font-size: 28px;
	margin-left: 15px;
}


  /* Characters.js */ 

.table-wrapper {
    display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
}

/* AllCharacters.js */

.img {
    border: 1px solid rebeccapurple;
    border-radius: 20px;
}

.click {
    cursor: pointer;
}

/* Details.js */

.wrapper-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 35px 92px;
}

.img-details {
    border: 1px solid rebeccapurple; 
}

.section-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border: 1px solid gray;
    box-shadow: 7px 9px #888888;
}

.name-details {
    font-family: 'Limelight', cursive;
    font-size: 30px;
    color: rebeccapurple;
    font-weight: bold;
}

.nickname-details {
    font-family: 'Lobster', cursive;    
    font-size: 25px;
    font-weight: bold;
}

.section-components {
    margin: 5px 10px;
}

.details-component {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    padding: 5px 10px;
}

.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-area {
    width: 300px;
    height: 200px;
    margin: 35px 40px;
    border: 1px solid gray;
    box-shadow: 7px 9px #f0e2e2;
}

/* FilterName.js && FilterNameCategory.js */

.filter-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.filter {
    display: flex;
    flex-direction: row;
    margin: 3px;
}

.input {
    width: 300px;
	height: 15px;
}